<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="Plane UI"/>
    <meta name="keywords" content="Plane UI"/>
    <meta name="author" content="Pandao, pandao@vip.qq.com"/>
    <meta name="robots" content="index,follow"/>

    <!-- 禁止百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- 添加到主屏后的标题 iOS6+ -->
    <meta name="apple-mobile-web-app-title" content="Plane UI"/>

    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- 设置状态栏的背景颜色，只有在 `"apple-mobile-web-app-capable" content="yes"` 时生效 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <!-- for iOS icons -->
    <link rel="apple-touch-icon-precomposed" href="app/icons/icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="app/icons/icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="app/icons/icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="app/icons/icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="app/icons/icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="app/icons/icon-180x180.png">

    <!-- for Android 5 -->
    <meta name="theme-color" content="#0098DF"/>

    <!-- Windows 8 metro color -->
    <meta name="msapplication-TileColor" content="#0098DF"/>

    <!-- Windows 8 metro icon -->
    <meta name="msapplication-TileImage" content="favicon.png"/>

    <!-- closed google auto translate -->
    <meta name="google" value="notranslate"/>

    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true"/>

    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320"/>

    <!-- uc 强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>

    <!-- QQ 强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>

    <!-- UC 强制全屏 -->
    <meta name="full-screen" content="yes"/>

    <!-- QQ 强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>

    <!-- UC 应用模式 -->
    <meta name="browsermode" content="application"/>

    <!-- QQ 应用模式 -->
    <meta name="x5-page-mode" content="app"/>

    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <title>发起事件</title>
    <link rel="stylesheet" type="text/css" href="../static/css/planeui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/user_manager.css"/>
</head>
<body>
<!-- 代码写在这下面 -->
<div class="pui-grid">
    <!-- header -->
    <div class="pui-row" style="padding-bottom: 0">
        <div class="pui-grid-xs-12">
            <div class="page-header">
                <div class="pui-layout pui-layout-fixed pui-layout-fixed-1200">
                    <div class="pui-menubar pui-menubar-square pui-menubar-header-style pui-bg-none pui-unbordered">
                        <div class="pui-menubar-aside">
                            <h2 class="pui-margin-none pui-text-normal page-title" title="线上答题系统">
                                <img src="../static/img/CM.png" class="icon-CM"/>
                                线上答题系统
                            </h2>
                        </div>
                        <div class="pui-menubar-offside">
                            <ul class="pui-menu pui-menu-inline pui-menu-simple pui-right">
                                <li>
                                    <a href="#top">管理员</a>
                                </li>
                                <li>
                                    <a href="/index/change_pwd_init" id="pwchange">密码修改</a>
                                </li>
                                <li>
                                    <a href="/logout">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pui-row">
        <h1 class="pui-text-center">——配置事件——</h1>
    </div>
    <div class="pui-row">
        <div class="pui-grid-xs-2"></div>
        <div class="pui-grid-xs-8">
            <label>事件名称：</label>
            <input type="text" id="ename" name="ename">
            <label>事件描述：</label>
            <textarea id="message" name="message"></textarea>
            <label>事件类型：</label>
            <select name="select_event" id="select_event" onchange="GetSelValue();">
                <option selected value="选择事件种类">请选择事件种类</option>
                <option value="业务知识类竞赛">业务知识类竞赛</option>
                <option value="党建知识类">党建知识类</option>
            </select>
            <label>参赛人数：</label>

            <input type="number" min=0 id="participant_num" name="participant_num">

            <label>开始时间：</label>
            <input type="date" id="start_time" name="start_time">
            <label>结束时间：</label>
            <input type="date" id="end_time" name="end_time">

            <div style="margin-bottom: 15px;">
                <label>答题日期：</label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="1"> 星期一
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="2"> 星期二
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="3"> 星期三
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="4"> 星期四
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="5"> 星期五
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="6"> 星期六
                </label>
                <label>
                    <input type="checkbox" id="cbox" name="cbox" value="0"> 星期日
                </label>
            </div>
            <div style="margin-bottom: 15px;">
                <div class="pui-row">
                    <div class="pui-grid-xs-4">

                    </div>
                    <div class="pui-grid-xs-4">
                        <strong>每天答题数量</strong>
                    </div>
                    <div class="pui-grid-xs-4" id="answer_score">
                        <strong>每题获得积分</strong>
                    </div>
                </div>
                <div class="pui-row">
                    <div class="pui-grid-xs-4">
                        <label>单选题：</label>
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="single" name="single">
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="single_score" name="single_score">
                    </div>
                </div>
                <div class="pui-row">
                    <div class="pui-grid-xs-4">
                        <label>多选题：</label>
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="multiple" name="multiple">
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="multiple_score" name="multiple_score">
                    </div>
                </div>
                <div class="pui-row">
                    <div class="pui-grid-xs-4">
                        <label>填空题：</label>
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="fill" name="fill">
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="fill_score" name="fill_score">
                    </div>
                </div>
                <div class="pui-row">
                    <div class="pui-grid-xs-4">
                        <label>判断题：</label>
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="judge" name="judge">
                    </div>
                    <div class="pui-grid-xs-4">
                        <input type="number" min=0 id="judge_score" name="judge_score">
                    </div>
                </div>
            </div>

            <div class="pui-row">
                <div class="pui-grid-xs-4"><label>当日个人全对额外加分：</label></div>
                <div class="pui-grid-xs-8"><input type="number" min=0 style="width: 100%;" id="person_score"
                                                  name="person_score" value=0></div>
            </div>
            <div class="pui-row">
                <div class="pui-grid-xs-4"><label>当日团队全对额外加分：</label></div>
                <div class="pui-grid-xs-8"><input type="number" min=0 style="width: 100%;" id="team_score"
                                                  name="team_score" value=0></div>
            </div>
            <div class="pui-row">
                <div class="pui-grid-xs-4"><label>个人总积分上限：</label></div>
                <div class="pui-grid-xs-8"><input type="number" min=0 style="width: 100%;" id="person_score_up"
                                                  name="person_score_up"></div>
            </div>
            <div class="pui-row">
                <div class="pui-grid-xs-4"><label>团队总积分上限：</label></div>
                <div class="pui-grid-xs-8"><input type="number" min=0 style="width: 100%;" id="team_score_up"
                                                  name="team_score_up"></div>
            </div>

            <div style="padding-top: 15px;padding-bottom: 15px;">
                <input type="checkbox" id="pro_random" name="pro_random"> 是否控制题目随机顺序
            </div>
            <div style="padding-bottom: 15px;">
                <input type="checkbox" id="opt_random" name="opt_random"> 是否控制选项随机顺序
            </div>
            <label>答题时间：</label>
            <div>
                <select name="select_time" id="select_time" onchange="GetSelValue();">
                    <option selected value="选择">请选择答题时长</option>
                    <option value="0.5">半小时</option>
                    <option value="1">一小时</option>
                    <option value="2">两小时</option>
                </select>
            </div>
            <br>
            <button class="pui-btn pui-btn-primary pui-btn-large pui-btn-block" id="submit_message"
                    style="margin-bottom: 30px;">
                下一步
            </button>
        </div>
    </div>
</div>
<!-- 代码写在这上面 -->


</body>


<!-- jQuery -->
<script type="text/javascript" src="../static/js/planeui.js"></script>
<script src="../static/js/jquery-2.1.1.min.js"></script>

<script type="text/javascript">

    //定义变量
    var ekind;
    var time;

    function GetSelValue() {
        var objSel = document.getElementById("select_event");
        ekind = objSel.value;
        var objSel = document.getElementById("select_time");
        answer_time = objSel.value;
    }

    //获取星期几被勾选
    function mutil_check() {
        var arr = [];
        var obj = document.getElementsByName("cbox");
        var obj_legth = obj.length;
        for (var i = 0; i < obj_legth; i++) {
            if (obj[i].checked) {
                arr.push(obj[i].value);
            }
        }
        return arr;
    }


    $(document).ready(function () {
        $("#submit_message").click(function () {
            $(this).attr("disabled", "true"); //设置变灰按钮，防止表单重复提交
            var participant_num = $("#participant_num").val();
            var ename = $("#ename").val();
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var single = $("#single").val();
            var multiple = $("#multiple").val();
            var fill = $("#fill").val();
            var judge = $("#judge").val();
            var pro_random = 0;
            var opt_random = 0;
            var single_score = $("#single_score").val();
            var multiple_score = $("#multiple_score").val();
            var fill_score = $("#fill_score").val();
            var judge_score = $("#judge_score").val();
            var person_score = $("#person_score").val();
            var team_score = $("#team_score").val();
            var person_score_up = $("#person_score_up").val();
            var team_score_up = $("#team_score_up").val();
            var message = $("#message").val();

            var time;    //答题时间（星期几）

            if (ename == '') {
                $("#ename").prev("label").append("<span style='color:red'>事件名称不能为空");
            } else if (message == '') {
                $("#message").prev("label").append("<span style='color:red'>事件描述不能为空");
            } else if (select_event == '') {
                $("#select_event").prev("label").append("<span style='color:red'>请选择事件类型");
            } else if (participant_num == '') {
                $("#participant_num").prev("label").append("<span style='color:red'>参赛人数不能为空");
            } else if (start_time == '') {
                $("#start_time").prev("label").append("<span style='color:red'>请选择开始时间");
            } else if (end_time == '') {
                $("#end_time").prev("label").append("<span style='color:red'>请选择结束时间");
            } else if (select_time == '') {
                $("#select_time").prev("label").append("<span style='color:red'>请选择答题时间");
            } else if (single == '' || single_score == '' || multiple == '' || multiple_score == '' || fill == '' || fill_score == '' || judge == '' || judge_score == '' || person_score_up == '' || team_score_up == '') {
                alert("请填写完题目设置");
            } else {
                if ($("#pro_random").is(":checked")) {
                    pro_random = 1;
                }
                if ($("#opt_random").is(":checked")) {
                    opt_random = 1;
                }

                if ($("#Mon").is(":checked")) {
                    mon = 1;
                }

                time = mutil_check();
                if (time.length == 0) {
                    alert("请勾选答题日期！");
                    return false;
                }

                var post_data = {
                    answer_day: time.toString(),
                    participant_num: participant_num,
                    etitle: ename,
                    start_time: start_time,
                    end_time: end_time,
                    single: single,
                    multiple: multiple,
                    fill: fill,
                    judge: judge,
                    pro_random: pro_random,
                    opt_random: opt_random,
                    ekind: ekind,
                    answer_time: answer_time,
                    single_score: single_score,
                    multiple_score: multiple_score,
                    fill_score: fill_score,
                    judge_score: judge_score,
                    person_score: person_score,
                    team_score: team_score,
                    person_score_up: person_score_up,
                    team_score_up: team_score_up,
                    message: message
                };
                $.ajax({
                    url: "http://localhost:8081/manage/event_insert",
                    dataType: "json",
                    type: 'POST',
                    data: post_data,
                    async: false,
                    success: function (data) {
                        if (data['result'] == "success") {
                            alert(data['result']);
                            self.location = '/manage/problem_upload_init';
                        } else {
                            alert("创建事件失败！");
                            //登录失败操作......
                        }
                    },
                    error: function (data, status, error) {
                        alert("跳转失败");
                        alert(error);

                    }
                });
            }
        });
    });

</script>

</html>
