<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="Plane UI"/>
    <meta name="keywords" content="Plane UI"/>
    <meta name="author" content="Pandao, pandao@vip.qq.com"/>
    <meta name="robots" content="index,follow"/>

    <!-- 禁止百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- 添加到主屏后的标题 iOS6+ -->
    <meta name="apple-mobile-web-app-title" content="Plane UI"/>

    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- 设置状态栏的背景颜色，只有在 `"apple-mobile-web-app-capable" content="yes"` 时生效 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <!-- for iOS icons -->
    <link rel="apple-touch-icon-precomposed" href="app/icons/icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="app/icons/icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="app/icons/icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="app/icons/icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="app/icons/icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="app/icons/icon-180x180.png">

    <!-- for Android 5 -->
    <meta name="theme-color" content="#0098DF"/>

    <!-- Windows 8 metro color -->
    <meta name="msapplication-TileColor" content="#0098DF"/>

    <!-- Windows 8 metro icon -->
    <meta name="msapplication-TileImage" content="favicon.png"/>

    <!-- closed google auto translate -->
    <meta name="google" value="notranslate"/>

    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true"/>

    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320"/>

    <!-- uc 强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>

    <!-- QQ 强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>

    <!-- UC 强制全屏 -->
    <meta name="full-screen" content="yes"/>

    <!-- QQ 强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>

    <!-- UC 应用模式 -->
    <meta name="browsermode" content="application"/>

    <!-- QQ 应用模式 -->
    <meta name="x5-page-mode" content="app"/>

    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <title>发起事件</title>
    <link rel="stylesheet" type="text/css" href="../static/css/planeui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/user_manager.css"/>
</head>
<body>
<!-- 代码写在这下面 -->
<div class="pui-grid">
    <!-- header -->
    <div class="pui-row" style="padding-bottom: 0">
        <div class="pui-grid-xs-12">
            <div class="page-header">
                <div class="pui-layout pui-layout-fixed pui-layout-fixed-1200">
                    <div class="pui-menubar pui-menubar-square pui-menubar-header-style pui-bg-none pui-unbordered">
                        <div class="pui-menubar-aside">
                            <h2 class="pui-margin-none pui-text-normal page-title" title="中国移动南方基地">
                                <img src="../static/img/CM.png" class="icon-CM"/>
                                中国移动南方基地知识题库
                            </h2>
                        </div>
                        <div class="pui-menubar-offside">
                            <ul class="pui-menu pui-menu-inline pui-menu-simple pui-right">
                                <li>
                                    <a href="#top">管理员</a>
                                </li>
                                <li>
                                    <a href="/index/change_pwd_init" id="pwchange">密码修改</a>
                                </li>
                                <li>
                                    <a href="/logout">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pui-row">
        <h1 class="pui-text-center">——题库上传——</h1>

        <div class="pui-form-group pui-grid-center">

            <form id="upload_file_form" class="pui-form pui-input-sm-large pui-input-md-large pui-grid"
                  style="text-align: center" enctype="multipart/form-data">
                <label>选择上传的文件</label>
                <input id="upload_file" type="file" name="uploadname" class="pui-input-border-error">
                <input id="event_id" type="hidden" name="event_id" class="pui-input-border-error" value="1">
                <button id="upload_btn" type="button" class="pui-btn pui-btn-success" name="submit"/>
                提交</button>
                <input type="button" class="pui-btn pui-btn-success" name="cancel" value="跳过"/>
            </form>

        </div>

    </div>

    <div class="pui-row">
        <h1 class="pui-text-center">——配置题目——</h1>
        <div class="pui-grid-xs-9 pui-grid-center">
            <hr>
            <h5>单选题<span onclick="ct('t_1')"><i class="fa fa-fw fa-angle-down pui-text-lg"></i></span></h5>
            <hr>
            <div id="single_show"></div>
            <hr>
            <h5>多选题<span onclick="ct('t_2')"><i class="fa fa-fw fa-angle-down pui-text-lg"></i></span></h5>
            <hr>
            <div id="multiple_show"></div>
            <hr>
            <h5>填空题<span onclick="ct('t_0')"><i class="fa fa-fw fa-angle-down pui-text-lg"></i></span></h5>
            <hr>
            <div id="fill_show"></div>
            <h5>判断题<span onclick="ct('t_3')"><i class="fa fa-fw fa-angle-down pui-text-lg"></i></span></h5>
            <hr>
            <div id="judge_show"></div>
            <hr>

            <a href="/manage/participant_insert_init" id="submit_message" name="submit_message"
               class="pui-btn pui-btn-primary ">下一步</a>
            <a href="{$Think.config.web_res_root}index.php/showevent" class="pui-btn pui-btn-secondary "
               style="margin-left: 20px">取消</a>
        </div>
    </div>


</div>
<!-- 代码写在这上面 -->

</body>

<!-- jQuery -->
<script src="../static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/planeui.js"></script>

<script type="text/javascript">

    $("#upload_btn").click(function () {
        var upload_file = $("#upload_file").val();
        if (upload_file == "") {
            alert("请选择文件");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "http://localhost:8080/manage/problem_file_insert",
            data: new FormData($('#upload_file_form')[0]),
            processData: false,
            contentType: false,
            dataType: 'json',
            async: false,
            success: function (data) {

                var single_show = ""
                if (data["single"] != "") {
                    alert(data["single"])
                    single_show += "<input type=\"button\" class=\"pui-btn pui-btn-default\"  onclick=\"ac('cbox_1');\" value=\"全选\">&nbsp;&nbsp;"
                        + "<input type=\"button\" class=\"pui-btn pui-btn-default\" onclick=\"dc('cbox_1');\" value=\"取消全选\">"
                        + "<table id='t_1' class='pui-table pui-table-bordered'>";

                    $.each(data["single"], function (i, item) {
                        single_show += "<tr><td><input type='checkbox' class='cbox_1' name='cbox' value='" + "&nbsp;&nbsp;" + item.problemId + "'>" + item.problemContent + "</td>"
                            + "<td>" + item.problemAnswer + "</td>"
                            + "<td>" + item.problemOption + "</td>";
                    });
                    single_show += "</table>";
                } else {
                    single_show = "<p>无单选题。</p>";
                }
                $('#single_show').html(single_show);

                var multiple_show = ""
                if (data["multiple"] != "") {
                    multiple_show += "<input type=\"button\" class=\"pui-btn pui-btn-default\"  onclick=\"ac('cbox_2');\" value=\"全选\">&nbsp;&nbsp;"
                        + "<input type=\"button\" class=\"pui-btn pui-btn-default\" onclick=\"dc('cbox_2');\" value=\"取消全选\">"
                        + "<table id='t_2' class='pui-table pui-table-bordered'>";

                    $.each(data["multiple"], function (i, item) {
                        multiple_show += "<tr><td><input type='checkbox' class='cbox_2' name='cbox' value='" + "&nbsp;&nbsp;" + item.problemId + "'>" + item.problemContent + "</td>"
                            + "<td>" + item.problemAnswer + "</td>"
                            + "<td>" + item.problemOption + "</td>";
                    });
                    multiple_show += "</table>";
                } else {
                    multiple_show = "<p>无多选题。</p>";
                }
                $('#multiple_show').html(multiple_show);

                var fill_show = ""
                if (data["fill"] != "") {
                    fill_show += "<input type=\"button\" class=\"pui-btn pui-btn-default\"  onclick=\"ac('cbox_0');\" value=\"全选\">&nbsp;&nbsp;"
                        + "<input type=\"button\" class=\"pui-btn pui-btn-default\" onclick=\"dc('cbox_0');\" value=\"取消全选\">"
                        + "<table id='t_0' class='pui-table pui-table-bordered'>";

                    $.each(data["fill"], function (i, item) {

                        fill_show += "<tr><td><input type='checkbox' class='cbox_0' name='cbox' value='" + "&nbsp;&nbsp;" + item.problemId + "'>" + item.problemContent + "</td>"
                            + "<td>" + item.problemAnswer + "</td>"
                            + "<td></td>";
                    });
                    fill_show += "</table>";

                } else {
                    fill_show = "<p>无单选题。</p>";
                }
                $('#fill_show').html(fill_show);

                var judge_show = ""
                if (data["judge"] != "") {
                    judge_show += "<input type=\"button\" class=\"pui-btn pui-btn-default\"  onclick=\"ac('cbox_3');\" value=\"全选\">&nbsp;&nbsp;"
                        + "<input type=\"button\" class=\"pui-btn pui-btn-default\" onclick=\"dc('cbox_3');\" value=\"取消全选\">"
                        + "<table id='t_3' class='pui-table pui-table-bordered'>";

                    $.each(data["judge"], function (i, item) {

                        judge_show += "<tr><td><input type='checkbox' class='cbox_3' name='cbox' value='" + "&nbsp;&nbsp;" + item.problemId + "'>" + item.problemContent + "</td>"
                            + "<td>" + item.problemAnswer + "</td>"
                            + "<td></td>";
                    });
                    judge_show += "</table>";

                } else {
                    judge_show = "<p>无单选题。</p>";
                }
                $('#judge_show').html(judge_show);


            },
            error: function (e) {
                alert("错误！！");
                window.clearInterval(timer);
            }
        });

    });

</script>
<script type="text/javascript">
    function ac(d) {
        var classname = "." + d;
        $(classname).each(function () {
            $(this).attr("checked", 'true');
        });
    }

    function dc(d) {
        var classname = "." + d;
        $(classname).each(function () {
            $(this).removeAttr("checked");
        });
    }

    //伸缩问题
    function ct(d) {
        var c_id = "#" + d;
        $(c_id).slideToggle("fast");
    }
</script>

</html>
