<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>开始答题</title>
    <link rel="stylesheet" type="text/css" href="/static/css/planeui.min.css"/>
</head>
<body onload="leftTimer()">
<div id="load"
     style="position: fixed;height: 100%;width:100%;background: #eee;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;display: none   ">
    <div class="pui-loading pui-loading-ring-large" style="margin: 0 auto;margin-top:20%"></div>
</div>
<div class="pui-layout">
    <header>
        <div style="position: relative;">
            <img src="/static/img/header2.jpg" style="width: 100%;height: auto;min-height: 50px">
            <div class="form-group pui-btn-gradient pui-btn-shadow" style="position: absolute;bottom: 10px;right: 20px">
                <input type="button" class="pui-btn pui-btn-small pui-btn-default " value="">
                <a type="button" class="pui-btn pui-btn-small pui-btn-primary "
                   href="/logout">退出</a>
            </div>
        </div>
    </header>
    <a type="button" class=" pui-btn pui-btn-default" style="float:left;margin-left: 2%;margin-top:10px "
       onclick="javascript:history.back(-1);">返回</a>
</div>

<div id="content" class="pui-layout" style="width:96%;margin-top:10px ">
    <div class="pui-row">
        <div class="pui-grid-xs-12 pui-grid-sm-3 pui-grid-sm-push-9 pui-grid-md-3 pui-grid-md-push-9 pui-grid-lg-3 pui-grid-lg-push-9 pui-grid-xl-3 pui-grid-xl-push-9 pui-grid-xxl-3 pui-grid-xxl-push-9 ">
            <div class="pui-text-center">
                <h4 class="bef" style="color: #008EE5" id="timer">剩余<span id="left_min"></span>分<span
                            id="left_sec"></span>秒&emsp;<input type="button" class="bef pui-btn pui-btn-primary"
                                                               id="submit" value="交卷"></h4>
                <input type="hidden" id="time" value="">
                <div style="text-align:center;">

                    <div id="credit_result" style="display: none">
                        <h5>&emsp;您今日得分：<span id="per_score"></span>；累计得分：<span id="per_credit"></span>；团队总得分：<span
                                    id="all_score"></span></h5>
                    </div>
                    <div id="submit_result" style="display:none;width: 90%;margin: 0 auto;margin-top: 10px">
                        <div class="pui-timeline">
                            <div class="pui-timeline-list" id="team_mates">
                                <div class="pui-timeline-divider pui-timeline-divider-line">您所在的队伍</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pui-grid-xs-12 pui-grid-sm-9 pui-grid-sm-pull-3 pui-grid-md-9 pui-grid-md-pull-3 pui-grid-lg-9 pui-grid-lg-pull-3 pui-grid-xl-9 pui-grid-xl-pull-3 pui-grid-xxl-9 pui-grid-xxl-pull-3 ">
            <div>
                <ul class="pui-menu  pui-menu-radius pui-menu-inline pui-menu-bordered pui-text-center"
                    style="margin-bottom: 0px;">
                    <li style="width: 25%">
                        <a href="javascript:;" id="single" class="choose_btn">单选</a>
                    </li>
                    <li style="width: 25%">
                        <a href="javascript:;" id="multi" class="choose_btn">多选</a>
                    </li>
                    <li style="width: 25%">
                        <a href="javascript:;" id="judge" class="choose_btn">判断</a>
                    </li>
                    <li style="width: 25%">
                        <a href="javascript:;" id="fill" class="choose_btn">填空</a>
                    </li>
                </ul>

                <div class="pui-center pui-text-center f24">
                    <h7 style="color: #aaa">今日题量：总共<span id="all_pr"></span>道题，单选<span id="single_pr"></span>道，多选<span
                                id="multi_pr"></span>道，判断<span id="judge_pr"></span>道，填空<span id="fill_pr"></span>道
                    </h7>
                </div>
                <div id="problem_body">
                </div>
                <br>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">

    function leftTimer(year, month, day, hour, minute, second) {
        // 准备
        if (!$("#time").val()) {
            $("#timer").hide();
            return;
        }
        var countdownMinute = $("#time").val() * 60;
        ;//10分钟倒计时
        var startTimes = new Date();//开始时间 new Date('2016-11-16 15:21');
        var endTimes = new Date(startTimes.setMinutes(startTimes.getMinutes() + countdownMinute));//结束时间
        var curTimes = new Date();//当前时间
        var surplusTimes = endTimes.getTime() / 1000 - curTimes.getTime() / 1000;//结束毫秒-开始毫秒=剩余倒计时间

        // 进入倒计时
        countdowns = window.setInterval(function () {
            surplusTimes--;
            var minu = Math.floor(surplusTimes / 60);
            var secd = Math.round(surplusTimes % 60);
            $("#left_min").text(minu);
            $("#left_sec").text(secd);
            //console.log(minu+':'+secd);
            if (surplusTimes <= 0) {
                var display = $('#submit').css('display');
                if (display == 'none') {
                    return;
                }
                console.log('时间到！');
                clearInterval(countdowns);
                alert("时间到，将自动提交答卷");
                $('#submit').click();

            }
        }, 1000);
    }

</script>
<script type="text/javascript">
    //获取用户的题目
    $(document).ready(function () {
        var event = 1;
        var post_data = {event_id: event};
        $.ajax({
            url: "http://localhost:8081/v1/answer/user_problems",
            dataType: "json",
            type: "GET",
            data: post_data,
            async: false,
            success: function (data) {
                if(data.hasOwnProperty("result")){
                    alert(data['result'])
                    window.location.href = "/index/user_index_init";
                    return false;
                }

                //倒计时
                alert("倒计时开始，请在规定时间内交卷");
                var answer_time = data['answer_time'];
                if (answer_time == '-1' || answer_time <= 0) {
                    alert("您的答题时间已经用完了哦！");
                    window.location.href = "/index/user_index_init";
                    return false;
                } else {
                    $("#time").val(answer_time)
                }

                //单选题
                var show_str = "";
                var panel_id = "single_panel"
                show_str += "<div id='" + panel_id + "' class='tixing_panel pui-layout'>"
                $.each(data['data']["single"], function (i, item) {
                    var option_str = "";
                    var option_array = eval("(" + item.option + ")");
                    for (var key in option_array) {
                        var oname = "single_" + item.problemId;
                        var oid = option_array[key].q_id;
                        var ovalue = key;
                        var ocontent = "    " + key + "、" + option_array[key].content;
                        option_str += "<input type='radio' name='" + oname + "' id='" + oid + "' value='" + ovalue + "' >" + ocontent + "<br>";
                    }

                    show_str += "<div class='timu_item pui-card pui-card-shadow pui-card-radius' id='" + item.problemId + "'>"
                        + "<div class='pui-card-box'>"
                        + "<h5>" + i + "、" + item.problem + "</h5>"
                        + option_str
                        + "</div>"
                        + "</div>";
                });
                show_str += "</div>";

                //多选题
                panel_id = "multi_panel"
                show_str += "<div id='" + panel_id + "' class='tixing_panel pui-layout'>"
                $.each(data['data']["multiple"], function (i, item) {
                    var option_str = "";
                    var option_array = eval("(" + item.option + ")");
                    for (var key in option_array) {
                        var oname = "multi_" + item.problemId;
                        var oid = option_array[key].q_id;
                        var ovalue = key;
                        var ocontent = "    " + key + "、" + option_array[key].content;
                        option_str += "<input type='checkbox' name='" + oname + "' id='" + oid + "' value='" + ovalue + "' >" + ocontent + "<br>";
                    }

                    show_str += "<div class='timu_item pui-card pui-card-shadow pui-card-radius' id='" + item.problemId + "'>"
                        + "<div class='pui-card-box'>"
                        + "<h5>" + i + "、" + item.problem + "</h5>"
                        + option_str
                        + "</div>"
                        + "</div>";
                });
                show_str += "</div>";

                //判断题
                panel_id = "judge_panel"
                show_str += "<div id='" + panel_id + "' class='tixing_panel pui-layout'>"
                $.each(data['data']["judge"], function (i, item) {
                    var oname = "judge_" + item.problemId;
                    var option_str = "<input type='radio' name='" + oname + "' value='true'>    是<br>" +
                        "<input type='radio' name='" + oname + "' value='false'>    否";

                    show_str += "<div class='timu_item pui-card pui-card-shadow pui-card-radius' id='" + item.problemId + "'>"
                        + "<div class='pui-card-box'>"
                        + "<h5>" + i + "、" + item.problem + "</h5>"
                        + option_str
                        + "</div>"
                        + "</div>";
                });
                show_str += "</div>";

                //填空题
                panel_id = "fill_panel"
                show_str += "<div id='" + panel_id + "' class='tixing_panel pui-layout'>"
                $.each(data['data']["fill"], function (i, item) {
                    var oname = "fill_" + item.problemId;
                    var option_str = "<input type='text' name='" + oname + "'><br>";

                    show_str += "<div class='timu_item pui-card pui-card-shadow pui-card-radius' id='" + item.problemId + "'>"
                        + "<div class='pui-card-box'>"
                        + "<h5>" + i + "、" + item.problem + "</h5>"
                        + option_str
                        + "</div>"
                        + "</div>";
                });
                show_str += "</div>";

                $('#problem_body').html(show_str);
            },
            error: function (data, status, error) {
                alert("跳转失败");
                alert(error);
            }

        })
    })
</script>

<script type="text/javascript">
    function MapTOJson(m) {
        var str = '{';
        var i = 1;
        m.forEach(function (item, key, mapObj) {
            if (mapObj.size == i) {
                str += '"' + key + '":"' + item + '"';
            } else {
                str += '"' + key + '":"' + item + '",';
            }
            i++;
        });
        str += '}';
        //console.log(str);
        return str;
    }

    $(function () {
        var single_length = $("#single_panel .timu_item").length;
        $("#single_pr").text(single_length);
        var multi_length = $("#multi_panel .timu_item").length;
        $("#multi_pr").text(multi_length);
        var judge_length = $("#judge_panel .timu_item").length;
        $("#judge_pr").text(judge_length);
        var fill_length = $("#fill_panel .timu_item").length;
        $("#fill_pr").text(fill_length);
        $("#all_pr").text(single_length + multi_length + judge_length + fill_length);


        $('.choose_btn').bind('click', function () {
            var id = $(this).attr('id');
            var id_panel = id + '_panel';
            $('.choose_btn').removeClass('active');
            $(this).addClass('active');
            $('.tixing_panel').hide();
            $('#' + id_panel).show();

        });
        $('#single').click();

        $('#submit').bind("click", function () {

            var flag = 0;
            var user_answer = new Map();
            var answer_single = {};
            //获取单选题id以及答案
            var single_items = new Array();
            //var single_length=$("#single_panel .timu_item").length;
            for (var i = 0; i < single_length; i++) {
                //s:单选题id;s_answer:单选题答案id
                var s = $("#single_panel .timu_item").eq(i).attr('id');
                var s_answer = $("#single_panel .timu_item input[type='radio']:checked").eq(i).attr("id");
                if (s_answer) {
                } else {
                    flag++;
                    s_answer = "-1"
                }//添加题目未做数量
                var answer_single = {};
                answer_single['problem_id'] = s;
                answer_single['answer'] = s_answer;
                single_items[i] = answer_single;

            }

            var multi_items = new Array();
            //获取多选题id以及答案
            //var multi_length=$("#multi_panel .timu_item").length;
            for (var i = 0; i < multi_length; i++) {
                var m = $("#multi_panel .timu_item").eq(i).attr('id');
                var m_id = 'input[name=multi_' + m + ']:checked';
                var m_answers = $("#multi_panel .timu_item").eq(i);
                var m_answers_lengths = m_answers.length;
                //m:多选题id;id_array：多选题答案数组
                var id_array = new Array();
                $(m_id).each(function () {
                    var str_to_int = parseInt($(this).attr('id'));
                    id_array.push(str_to_int);//向数组中添加元素
                    //console.log(".......:"+$(this).attr('id'));
                });
                // var idstr=id_array.join(',');//将数组元素连接起来以构建一个字符串
                if (id_array.toString() == "") {
                    flag++;
                    id_array = [-1]
                };
                var answer_multi = {};
                answer_multi['problem_id'] = m;
                answer_multi['answer'] = id_array;
                //console.log("id_array:"+id_array);
                multi_items[i] = answer_multi;
            }

            //获取判断题id以及答案
            var judge_items = new Array();
            //var judge_length=$("#judge_panel .timu_item").length;
            for (var i = 0; i < judge_length; i++) {
                var j = $("#judge_panel .timu_item").eq(i).attr("id");
                var j_answer = $("#judge_panel .timu_item input[type='radio']:checked").eq(i).val();
                var answer_judge = {};
                if (j_answer == "" || j_answer == null) {
                    flag++;
                    j_answer = "-1"
                };
                answer_judge['problem_id'] = j;
                answer_judge['answer'] = j_answer;
                judge_items[i] = answer_judge;

            }

            //获取填空题id以及答案
            var fill_items = new Array();
            //var fill_length=$("#fill_panel .timu_item").length;
            for (var i = 0; i < fill_length; i++) {
                var f = $("#fill_panel .timu_item").eq(i).attr("id");
                var f_answer = $("#fill_panel .timu_item input[type='text']").eq(i).val();
                var answer_fill = {};
                if (f_answer == "") {
                    flag++;
                    f_answer = "未答题"
                };
                answer_fill['problem_id'] = f;
                answer_fill['answer'] = f_answer;

                fill_items[i] = answer_fill;

            }

            user_answer["single"] = JSON.stringify(single_items);
            user_answer['multi'] = JSON.stringify(multi_items);
            user_answer['judge'] = JSON.stringify(judge_items);
            user_answer['fill'] = JSON.stringify(fill_items);
            user_answer['event_id'] = 1;
            //user_answer['participant']={$participant};

            if (flag != 0) {
                if (!confirm("温馨提醒：您还有" + flag + "道题没有答。")) {
                    return false;
                }
            }


            if (confirm("确认交卷吗？")) {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8081/v1/answer/user_answer",
                    async: true, //同步
                    dataType: "json",
                    data: user_answer,
                    //后台执行完成后，返回页面处理函数
                    beforeSend: function () {
                        $("#load").show();
                    },
                    success: function (results) {
                        $("#load").hide();
                        var parsedJson = results;
                        $("#per_score").text(parsedJson.user_score);
                        //$("#per_score").text(JSON.stringify(results));
                        $("#per_credit").text(parsedJson.user_credit);
                        $("#all_score").text(parsedJson.team_credit);

                        if (parsedJson.user_all_right) {
                            $("#credit_result").append("<h5 style='color:red;font-size:1.4rem'>真厉害，您今天答对了所有题，额外加" + parsedJson.user_all_right + "分！！</h5>");
                        }
                        if (parsedJson.team_all_right) {
                            $("#credit_result").append("<h5 style='color:red'>真厉害，您所在的队伍今天答对了所有题，额外加" + parsedJson.team_all_right + "分！！</h5>");
                        }


                        var team_mates = parsedJson.team_mates;
                        //$("#all_score").text(JSON.stringify(team_mates));
                        for (var i = 0; i < team_mates.length; i++) {
                            var credit = team_mates[i].credit;
                            var name = team_mates[i].name;
                            var participant = team_mates[i].participant;
                            var template = "<div class='pui-timeline-item pui-timeline-badge-date'><label class='pui-badge pui-badge-info'>" + name + "</label><div class='pui-timeline-item-context'>累计得分<strong>" + credit + "</strong>分</div></div> ";
                            $("#team_mates").append(template);
                        }

                        var right_answer = parsedJson.right_answer;
                        for (var prop in right_answer) {
                            if (prop == "single") {
                                for (var prop2 in right_answer.single) {
                                    //答案id与选择的选项id做对比
                                    var choose_id = "#single_panel input[name='single_" + prop2 + "']:checked";
                                    var choose_answer_id = $(choose_id).attr("id");
                                    var right_answer_id = right_answer.single[prop2];
                                    var right_answer_id2 = "#single_panel input[name='single_" + prop2 + "'][id='" + right_answer_id + "']";
                                    var right_answer_content = $(right_answer_id2).val();
                                    var out_id = "#single_panel #" + prop2 + " h5";
                                    if (choose_answer_id == right_answer.single[prop2]) {
                                        $(out_id).append("<span><i  style='color: #0ca566;' class='fa fa-check fa-2px'></i></span>");
                                    } else {
                                        $(out_id).append("<span><i style='color:red' class='fa fa-close fa-2px'></i></span><span style='color:red'>正确答案：" + right_answer_content + "</span>");
                                    }

                                }
                            }
                            if (prop == "multi") {
                                for (var prop2 in right_answer.multi) {
                                    //right_answer.multi[prop2]=bc
                                    var choose_ids = "#multi_panel input[name='multi_" + prop2 + "']:checked";
                                    //console.log("choose_ids:"+choose_ids);
                                    var choose_answer_id = "";
                                    var choose_answer_content = "";
                                    var out_id = "#multi_panel #" + prop2 + " h5";
                                    $(choose_ids).each(function () {
                                        choose_answer_id += $(this).attr("id");
                                    });
                                    var right_answer_content = "";
                                    var right_answer_id = "";
                                    for (var i = 0; i < right_answer.multi[prop2].length; i++) {
                                        var right_answer_id2 = "#multi_panel input[name='multi_" + prop2 + "'][id='" + right_answer.multi[prop2][i] + "']";
                                        right_answer_id += right_answer.multi[prop2][i];
                                        right_answer_content += $(right_answer_id2).val();
                                    }
                                    //按照字母排序2
                                    var choose_answer_id = choose_answer_id.split("").sort().join("");
                                    var right_answer_id = right_answer_id.split("").sort().join("");
                                    var right_answer_content = right_answer_content.split("").sort().join("");
                                    if (choose_answer_id == right_answer_id) {
                                        $(out_id).append("<span><i  style='color: #0ca566;' class='fa fa-check fa-2px'></i></span>");
                                    } else {
                                        $(out_id).append("<span><i style='color:red' class='fa fa-close fa-2px'></i></span><span style='color:red'>正确答案：" + right_answer_content + "</span>");
                                    }
                                }
                            }
                            if (prop == "fill") {
                                for (var prop2 in right_answer.fill) {
                                    var fill_id = "#fill_panel input[name='fill_" + prop2 + "']";
                                    var fill_content = $(fill_id).val();
                                    var out_id = "#fill_panel #" + prop2 + " h5";
                                    if (right_answer.fill[prop2] == fill_content) {
                                        $(out_id).append("<span><i  style='color: #0ca566;' class='fa fa-check fa-2px'></i></span>");
                                    } else {
                                        $(out_id).append("<span><i style='color:red' class='fa fa-close fa-2px'></i></span><span style='color:red'>正确答案：" + right_answer.fill[prop2] + "</span>");
                                    }
                                }
                            }
                            if (prop == "judge") {
                                for (var prop2 in right_answer.judge) {
                                    var judge_id = "#judge_panel input[name='judge_" + prop2 + "']:checked";
                                    var judge_content = $(judge_id).val();
                                    var out_id = "#judge_panel #" + prop2 + " h5";
                                    if (right_answer.judge[prop2] == judge_content) {
                                        $(out_id).append("<span><i  style='color: #0ca566;' class='fa fa-check fa-2px'></i></span>");
                                    } else {
                                        judge_content = (right_answer.judge[prop2] == 'true') ? judge_content = "是" : judge_content = "否";
                                        $(out_id).append("<span><i style='color:red' class='fa fa-close fa-2px'></i></span><span style='color:red'>正确答案：" + judge_content + "</span>");
                                    }
                                }
                            }
                        }
                        $(".bef").hide();
                        $("#credit_result").show();
                        $("#submit_result").show();
                    },
                    error: function (data, status, error) {
                        alert("提交失败，请联系管理员处理");
                        alert(error);
                    }
                });
            }
        });

    })
</script>

</body>
</html>
