<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<title>事件详情</title>
        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="{$Think.config.web_res_root}/css/planeui.min.css" />
	</head>
	<body>
	    <div class="pui-layout">
	        <header>
	            <img src="{$Think.config.web_res_root}/img/header2.jpg" style="width:100%;height: auto">
	        </header>
	    </div>
		<article style="width: 98%;margin: 0 auto">
                <h2 style="margin-top: 10px;text-align: left"><a type="button" class="pui-btn pui-btn-default" href="{:url('index/userindex/user_index')}" >返回</a></h2>
                <h2 style="text-align: left;margin: 0">{$data.event_message.event_title}</h2>
                <div class="pui-article-subtitle">
                     类型：{$data.event_message.event_type}
                </div>
								<div class="pui-article-subtitle">
                     简介：{$data.event_message.event_description}
                </div>
                <hr class="pui-hr-dashed">
                <div class="pui-article-content" style="padding: 0">
                    <div class="pui-pui-list-group">
		                <h5>具体规则：</h5>
		                <ul class="pui-list pui-list-line pui-list-stripe pui-list-bordered">
		                    <li>活动时间：{$data.event_message.start_time}至{$data.event_message.end_time}</li>
			                    {if condition="!empty($data.event_message.answer_day)"}
									<li>答题时间：
									{foreach $data.event_message.answer_day as $k=>$v}
									    {switch name="$v"}
	                      {case value="1"}星期一{/case}
	                      {case value="2"}星期二{/case}
												{case value="3"}星期三{/case}
	                      {case value="4"}星期四{/case}
												{case value="5"}星期五{/case}
	                      {case value="6"}星期六{/case}
												{case value="0"}星期日{/case}
	                      {default /}无
                      {/switch}
                      &emsp;
									{/foreach}
									</li>
			                    {/if}

		                    <li>积分规则：单选题{$data.event_message.single}道，每题{$data.event_message.single_score}分；
		                    多选题{$data.event_message.multiple}道，每题{$data.event_message.multiple_score}分；判断题{$data.event_message.judge}道，每题{$data.event_message.judge_score}分；填空题{$data.event_message.fill}道，每题{$data.event_message.fill_score}分；当日团队全对额外加{$data.event_message.team_score}分，团队总积分上限{$data.event_message.team_score_up}分，个人总积分上限{$data.event_message.person_score_up}分。</li>
		                    	{if condition="!empty($data.event_message.item_message)"}
									<li>积分道具：
									{foreach $data.event_message.item_message as $k=>$v}
										{$v}&emsp;
									{/foreach}
									</li>
			                   	{/if}

		                </ul>
		                <h5>得分情况：</h5>
		                {if condition="!empty($data.credit_message)"}
							<ul class="pui-list pui-list-line">
		                    <li>个人得分：{$data.credit_message.credit}</li>
												<li>团队得分：{$data.credit_message.team_score}</li>
		                    <li>团队积分：{$data.credit_message.team_credit}</li>
		                    {if condition="!empty($data.credit_message.detail_credit)"}
							<li>积分详情：
								<table class="pui-table pui-table-bordered pui-table-text-center pui-table-thead-bg pui-table-interlaced-color box-shadow-bottom pui-table-gradient">
					                <thead>
					                    <tr>
					                        <th>组ID</th>
					                        <th>积分操作</th>
					                        <th>操作时间</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    {foreach $data.credit_message.detail_credit as $k=>$v}
										<tr>
					                        <td>{$v.team_id}</td>
					                        <td>{$v.change_reason}{$v.change_value}分</td>
					                        <td>{$v.change_time}</td>
					                    </tr>
										{/foreach}

					                </tbody>
					            </table>
							</li>
							{else /}<li>积分详情：暂时没有记录</li>
		                    {/if}

		                </ul>
		                {else /}
		                <div class="pui-article-subtitle">
		                     您暂时没有参与...
		                </div>
		                {/if}
		            </div>
                </div>

            </article>
	</body>
</html>
